@charset "UTF-8";
@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf);
}
@font-face {
    font-family: 'Destaque';
    src: url(../fontes/BebasNeue-Regular.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    
}

:root{
    --cor0: #ebe5c5;
    --cor1: #83e1ad; 
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Destaque', sans-serif;
    --fonte-android: 'Android', sans-serif;

}

body{
    background-color: var(--cor1);

}

header{
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    padding: 10px;
    min-height: 100px;

}
header>h1{
    text-align: center;
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
}
header>p{
    text-align: center;
    color: white;
    font-family: var(--fonte-padrao);
    padding-top: 20px;
    max-width: 500px;
    margin: auto;

}

nav{
    background-color: var(--cor5);
    padding: 10px;

}

nav>a{
    background-color: var(--cor5);
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bold;
    transition: 0.4s;
    
}

nav>a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}

main{
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    background-color: var(--cor0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    padding: 10px;
}

main p{
    font-family: var(--fonte-padrao);
    margin: 10px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
    

}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    
}

main a:hover{
    text-decoration: underline;
}

main h1{
    font-family: var(--fonte-android);
    color: var(--cor5);
}

main h2{
    font-family: var(--fonte-android);
    font-size: 1.3em;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), transparent);
}

img{
    width: 100%;
}

.img-pq{
    display: block;
    margin: auto;
    max-width: 300px;

}

div.video{
    background-color: var(--cor5);
    padding: 20px;
    margin: 30px 0px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);

}

aside > h3{
    background-color: var(--cor5);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside >ul{
    list-style-position: inside;
    columns: 2;
    padding: 20px;
    
}

footer{
    background-color: var(--cor4);
    color: var(--cor0);
    padding: 5px 10px;
    text-align: center;
    font-size: 0.8em;
    color: white;

}

footer a{
    background-color: var(--cor4);
    text-decoration: none;
    color: var(--cor2);
    
}

footer a:hover{
    text-decoration: underline;
}